
.flex{
    display: flex;
    justify-self: center;
}
body{
    /* font-family: 'Times New Roman', Times, serif; */
}
select{
    width: 100%;
}

.navbar{
    display: flex;
    padding-left: 2rem;
    color: white;
    align-items: center;
    justify-items: center;
    position: sticky;
}

textarea{
    height: 6rem;
    width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: fit-content;
}
.home-card{
    background-color: burlywood;
    height: 8rem;
    justify-items: center;
    /* width: 9rem; */

}
.home-card a{
    /* height: 2rem; */
    position: relative;
    top: 35%;
    text-decoration: none;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}

.col{
    display: flex;
    flex-direction: column;
    

}
.container, h1{
    justify-self: center;
    align-items: center;
    gap: 1rem;
}
.hero{
    justify-items: center ;
    align-items: center;

}
.hero h1{
    margin-top: 3rem;
    justify-content: center;
    align-content: center;
    justify-self: center ;
    align-self: center ;
}
.item-display{
    display: flex;
    justify-self: center;
    justify-items: center;
    align-items: center;
    gap: 15rem;
    width: fit-content;
    padding-top: 20px;
}
.item-display .item-info, .additional div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.item-info .additional{
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    gap: 3rem;
    width: fit-content;
}

.non-stu{
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
}
.non-stu .col{
    gap: 1rem;
}

.claim-container .property{

    margin-bottom: 2rem;
    width: 100%;
}

.browse{
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 8rem;
    margin-left: 30px;

}
.browse-card, .browse-card a{
    margin-top: 1rem;
    text-decoration: none;
    justify-content: center;
}

.footer{
    margin-top: 10rem;
    justify-self: center;
}

/* Mogale */

.acts{
    display: flex;
    /* width: 100%; */
    position: sticky;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center ;
    column-gap: 3rem;
}
.admin-dash{
    display: grid;
    grid-template: auto / auto auto auto auto auto;
    align-items: center;
    justify-items: center ;
    position: relative;
    align-self: center;
    justify-self: center;
    width: fit-content;
    column-gap: 1rem;
}

.admin-claim{
    display: grid;
    grid-template: auto / auto auto auto auto;
    align-items: center;
    justify-items: center ;
    position: relative;
    align-self: center;
    justify-self: center;
    width: fit-content;
    column-gap: 1rem;
}
form.card{
    width: 70%;
    /* align-self: center; */
    justify-self: center;
    row-gap: 1rem;
}

.form-group{
    position: relative;
    width: max-content;
align-self: center;
    justify-self: center ;
    
}