
.flex{
    display: flex;
    gap: 2rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    align-items: center;
    padding: 10px;
    width: fit-content;

}
.col{
    display: flex;
    flex-direction: column;
    

}
.container, h1{
    justify-self: center;
    align-items: center;
}
.hero{
    justify-items: center ;
    align-items: center;

}
.footer{
    margin-top: 10rem;
    justify-self: center;
}
.container{
    /* background-color: burlywood; */
}