{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Admin Dashboard</h1>
    
    <!-- Button to Add New Lost Item -->
    <a href="{{ url_for('add_lost_item') }}" class="btn btn-success mb-4">Add New Lost Item</a>

    <!-- Lost Items Section -->
    <h2>Lost Items</h2>
    <div class="card admin-dash">
        <h5>Item Name</h5>
        <h5>Description</h5>
        <h5>Status</h5>
        <h5>Image</h5>

      {% for item in lost_items %}

        <span id="{{item.item_id}}">{{ item.item_name }}</span>
        <div class="flex desc">
        <span>{{ item.item_desc }}</span>
        </div>
        <span>{{ item.status.value }}</span>
        <span><img src="{{item.image_url}}" alt="item_img"></span>
      {% endfor %}
      
    </div>

    <!-- Found Items Reports Section -->
    <h2>Found Items Appointments</h2>
    <div class="card admin-dash">
      <div class="flex">
        <h5>Item Name</h5>
        <h5>Location</h5>
        <h5>Reported By</h5>
        <h5>Action</h5>
      </div>
      
      {% for report in found_reports %}
      
      <div class="flex">
        
        <span id="{{report.report_id}}">{{ report.item_name }}</span>
        <span>{{ report.location }}</span>
        <span>{{ report.reported_by }}</span>
        <span><a href="{{ url_for('verify_found_item', report_id=report.id) }}">Verify</a></span>
      
      </div>
      {% endfor %}
    </div>


    <!-- Claims Section -->
    <h2>Claims</h2>
    <div class="card admin-claim">
      <div class="flex">
        <h5>Claimed Item</h5>
        <h5>Claimed By</h5>
        <h5>Action</h5>
      </div>

      {% for claim in claims %}
      
        <span id="{{claim.claimed_item_id}}">{{ claim.item.name }}</span>
        <span>{{ claim.student_name }}</span>
        <span>{{ item.status }}</span>
        <div>
          <a href="{{ url_for('approve_claim', claim_id=claim.id) }}">Approve</a> | 
          <a href="{{ url_for('reject_claim', claim_id=claim.id) }}">Reject</a>
        </div>   
      
      {% endfor %}
    </div>
  </div>


{% endblock %}
