<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found </title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- Links to the pages in templates -->
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('about')}}">About</a>
    <a href="{{url_for('signup_view')}}">Sign-Up</a>
    <a href="{{url_for('login_view')}}">Log-In</a>
    <a href="{{url_for('user_profile')}}">Profile</a>
    


    {% block content %}
    <!-- other templates are placed in here -->
    {% endblock %}
    
</body>
</html>